.logo {
    display: none;
}

@media (min-width: 768px) {
    .logo {
        display: initial;
    }
}

.app-card {
    cursor: pointer;
}

.app-card:hover {
    background-color: lightgray !important;;
}