<div class="my-3 p-3 bg-white rounded shadow-sm">
  <div class="row">
    <div class="col-sm-12">
      <img src="assets/mangadlr114.png" class="img-responsive" style="float:left;">
      <span>MangaDLR is an android manga reader and downloader that helps you to download your manga, manhwa and comics from many online readers and save them in zip archives so you can read them offline. You can read them with its viewer or another image/picture viewer app without an internet connection, transfer these files to another device or computer,...</span>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-sm-2"></div>
    <div class="col-sm-2 text-center">
      <download-app-button user="cylonu87" repo="mangadlr" showFlavor="true" app="MangaDLR" cssClass="btn-success"></download-app-button>
  </div>
  <div class="col-sm-2 text-center">
    <download-app-button user="cylonu87" repo="mangadlr" flavor="full_extra" showFlavor="true"  app="MangaDLR" cssClass="btn-success"></download-app-button>
  </div>
  <div class="col-sm-2 text-center">
        <a href="https://www.reddit.com/r/MangaDLR" target="_blank" class="btn btn-outline-success">
          <i class="fa fa-reddit-alien"></i>&nbsp;Reddit
        </a>
    </div>
    <div class="col-sm-2 text-center">
        <a href="https://bitbucket.org/cylonu87/mangadlr/issues" target="_blank" class="btn btn-outline-success">
          <i class="fa fa-bitbucket"></i>&nbsp;Bugs tracker
        </a>
    </div>
    <div class="col-sm-2"></div>
  </div>

  <div class="row pt-3">
    <div class="col-sm-12">
      <h2>Requirements</h2>
      Android 4.1 (Jellybean) or higher
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-sm-12">
      <h2>Features</h2>
      <ul>
        <li>Choose the server where you want to read or download your manga.</li>
        <li>Add manga to a download queue. The manga are downloaded in the background, you can continue to use the app while downloading.</li>
        <li>Bookmark your preferred series, the last page read to continue later.</li>
        <li>Read your downloaded manga online or offline with the manga reader or with your preferred image viewer.</li>
        <li>Save your downloaded manga wherever you wish (internal memory, micro sd, ...)</li>
        <li>Save multiple chapters in a single archive (to group them by volume)</li>
        <li>Download selected chapters or all new chapters.</li>
        <li>Export your download in pdf, epub3.</li>
      </ul>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-sm-12">
      <h2>Disclaimer</h2>
      <span class="disclaimer">All of the free manga found on this app are hosted on third-party servers that are freely available to read online for all internet users. Any legal issues regarding the free online manga should be taken up with the actual file hosts themselves, as we're not affiliated with them. Copyrights and trademarks for the manga, and other promotional materials are held by their respective owners and their use is allowed under the fair use clause of the Copyright Law.</span>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-sm-12">
      <app-changelog app="mangadlr"></app-changelog>  
    </div>
  </div>
  

  <div class="row pt-3">
    <div class="col-sm-12">
      <h2>Screenshots</h2>
      <ngx-image-gallery [images]="galleryImages" [conf]="galleryConf"></ngx-image-gallery>
    </div>
  </div>

</div>