---
---

@import "{{ site.theme }}";


h1 a, h2 a {
  font-weight: bold;
}

a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  color: #0366d6;
  text-decoration: underline;
}

img[src$="logoapp"] {
  float:left;
  margin-right: 10px;
}

img[src$="logoimgur"] {
  background-color: #34373c;
}

div.wrapper > section {
  text-align: justify;
}
