---
---

@import "{{ site.theme }}";


table td, table td:first-child {
  border: 0px solid;
  border-left: 0px solid;
}

a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  color: #0366d6;
  text-decoration: underline;
}
