<div class="my-3 p-3 bg-white rounded shadow-sm">
  <div class="row">
    <div class="col-sm-12">
      <img src="assets/ranobe114.png" class="img-responsive" style="float:left;">
      <span>Ranobe is an application that allows you to read light novel (japanese, chinese, korean) online or you can add them into your library to read them offline on your android device. You can keep track of the chapters read, add series in your favorites.</span>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-sm-3"></div>
    <div class="col-sm-2 text-center">
        <download-app-button user="cylonu87" repo="ranobe" app="Ranobe" cssClass="btn-primary"></download-app-button>
    </div>
    <div class="col-sm-2 text-center">
        <a href="https://www.reddit.com/r/Ranobe" target="_blank" class="btn btn-outline-primary">
          <i class="fa fa-reddit-alien"></i>&nbsp;Reddit
        </a>
    </div>
    <div class="col-sm-2 text-center">
        <a href="https://bitbucket.org/cylonu87/ranobe/issues" target="_blank" class="btn btn-outline-primary">
          <i class="fa fa-bitbucket"></i>&nbsp;Bugs tracker
        </a>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row pt-3">
    <div class="col-sm-12">
      <h2>Requirements</h2>
      Android 4.4 (Kitkat) or higher
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-sm-12">
      <h2>Features</h2>
      <ul>
          <li>Choose the server where you want to read or download your Light Novel.</li>
          <li>Add LN into your library.</li>
          <li>Bookmark your preferred series.</li>
          <li>Read online or offline.</li>
      </ul>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-sm-12">
      <h2>Disclaimer</h2>
      <span class="disclaimer">All of the free light novel found on this app are hosted on third-party servers that are freely available to read online for all internet users. Any legal issues regarding the free LN should be taken up with the actual file hosts themselves, as we're not affiliated with them. Copyrights and trademarks for the LN, and other promotional materials are held by their respective owners and their use is allowed under the fair use clause of the Copyright Law.</span>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-sm-12">
      <app-changelog app="ranobe"></app-changelog>  
    </div>
  </div>
  
  <div class="row pt-3">
    <div class="col-sm-12">
      <h2>Screenshots</h2>
      <ngx-image-gallery [images]="galleryImages" [conf]="galleryConf"></ngx-image-gallery>
    </div>
  </div>

</div>