<div class="my-3 p-3 bg-white rounded shadow-sm">
  <div class="row">
    <div class="col-sm-12">
      <img src="assets/kamuy114.png" class="img-responsive" style="float:left;">
      <span>Kamuy is an unofficial android client for MyAnimeList, Kitsu, AniList, Anime-Planet, LiveChart, MyDramaList to track your anime and manga. You cannot watch anime/read manga with this app, the goal of this app is tracking your watching/reading progress.</span>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-sm-3"></div>
    <div class="col-sm-2 text-center">
        <download-app-button user="cylonu87" repo="kamuy" app="Kamuy" cssClass="btn-danger"></download-app-button>
    </div>
    <div class="col-sm-2 text-center">
        <a href="https://www.reddit.com/r/Kamuy" target="_blank" class="btn btn-outline-danger">
          <i class="fa fa-reddit-alien"></i>&nbsp;Reddit
        </a>
    </div>
    <div class="col-sm-2 text-center">
        <a href="https://bitbucket.org/cylonu87/kamuy/issues" target="_blank" class="btn btn-outline-danger">
          <i class="fa fa-bitbucket"></i>&nbsp;Bugs tracker
        </a>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row pt-3">
    <div class="col-sm-12">
      <h2>Requirements</h2>
      Android 4.1 (Jellybean) or higher
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-sm-12">
      <h2>Features</h2>
      <ul>
          <li>Manage your anime and manga: progress, status, rate.</li>
          <li>Discover anime: top, popular, upcoming, airing, just added, seasonal.</li>
          <li>Search anime and manga by name.</li>
          <li>Manage your lists: Plan to watch/read, Watching/reading, On-hold, Dropped, Completed.</li>
          <li>MyAnimeList, Kitsu, AniList, Anime-Planet sync.</li>
          <li>Recommandations.</li>
          <li>Light or dark theme.</li>
          <li>Libraries can be accessed offline.</li>
          <li>List or grid view.</li>
      </ul>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-sm-12">
      <h2>Screenshots</h2>
      <ngx-image-gallery [images]="galleryImages" [conf]="galleryConf"></ngx-image-gallery>
    </div>
  </div>

</div>